@{
    var user = Context.Items["CurrentUser"] as Kullanici;
}
@model SalonEditModel
@{
    ViewData["Title"] = "Ayarlar";
    Layout = "_LayoutAdmin";
    var sinemalar = ViewBag.Sinemalar as IEnumerable<SinemaSite.Models.Sinema>;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profil</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#show_salons" data-toggle="tab">Salonlar</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="show_salons">
                                    <div class="col-md-15">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Salonlar</h3>
                                            </div>
                                            @if (ViewBag.Error != null)
                                            {
                                                <div class="col-lg-auto">
                                                    <div id="error-message" value="@ViewBag.Error"></div>
                                                    <div class="form-group" style="color: red;">@ViewBag.Error</div
                                                </div>
                                            }
                                            <div id="myGrid" style="height: 600px" class="ag-theme-quartz"></div>
                                            <div class="modal fade" data-backdrop="false" id="edit_modal">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Sinema ve Salon Düzenle</h4>
                                                            <button type="button" data-backdrop="false" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" asp-action="Salons">
                                                                <div class="modal-body">
                                                                    <input hidden asp-for="SalonId" type="text" id="SalonId" class="form-control" placeholder="">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Sinema Adı:</label>
                                                                        <div class="col-sm-10">
                                                                            <input asp-for="SinemaAdi" type="text" id="SinemaAdi" class="form-control" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Sinema Adresi:</label>
                                                                        <div class="col-sm-10">
                                                                            <input asp-for="SinemaAdres" type="text" id="SinemaAdres" class="form-control" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer justify-content-between"></div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Salon Numarası:</label>
                                                                        <div class="col-sm-10">
                                                                            <input asp-for="SalonNumarasi" type="text" id="SalonNumarasi" class="form-control" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Satır:</label>
                                                                        <div class="col-sm-10">
                                                                            <input asp-for="Satir" type="text" id="Satir" class="form-control" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Sütun:</label>
                                                                        <div class="col-sm-10">
                                                                            <input asp-for="Sutun" type="text" id="Sutun" class="form-control" placeholder="">
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer justify-content-between">
                                                                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-light">Kapat</button>
                                                                    <button type="submit" class="btn btn-primary">Düzenlemeyi Kaydet</button>
                                                            </form>
                                                                    <form method="post" asp-action="DeleteSalon">
                                                                        <input hidden asp-for="SalonId" type="text" id="DeleteSalonId" class="form-control" placeholder="">
                                                                            <button type="submit" class="btn btn-danger">
                                                                                Salonu Sil
                                                                            </button>
                                                                    </form>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>

                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="other">
                                </div>
                                <!-- /.tab-pane -->


                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<script>
    let gridApi;
    var sinemalar = @Html.Raw(ViewBag.Sinemalar);
    var rowData = [];
    const SalonTypeNames = {
        0: 'Standart',
        1: 'IMAX',
        2: '4DX'
    };


    sinemalar.forEach(function (sinema) {
        sinema.Salons.forEach(function (salon) {
            const salonType = SalonTypeNames[salon.SalonTipi];
            rowData.push({
                "Id": salon.Id,
                "Sinema Adı": sinema.Isim,
                "Sinema Adresi": sinema.Adres,
                "Salon Numarası": salon.SalonNumarasi,
                "Sütun Sayısı": salon.Sutun,
                "Satır Sayısı": salon.Satir,
                "Salon Tipi": salonType,
                "Silinme Tarihi": salon.SilinmeTarihi,
                "Güncelleme Tarihi": salon.GuncellemeTarihi,
                "Düzenle": `<button class = "btn btn-link edit-button" data-id=${salon.Id} data-target="#edit_modal">Düzenle</button>`,
            });
        });
    });

    const gridOptions = {
        rowData: rowData,
        columnDefs: [
            { field: "Id", hide: true },
            { 
                field: "Sinema Adı",
                filter: 'agTextColumnFilter'
            },
            {
                field: "Sinema Adresi",
                filter: 'agTextColumnFilter'
            },
            { 
                field: "Salon Numarası",
                filter: 'agNumberColumnFilter'
            },
            {
                field: "Satır Sayısı",
                filter: 'agNumberColumnFilter'
            },
            { 
                field: "Sütun Sayısı",
                filter: 'agNumberColumnFilter'
            },
            { 
                field: "Salon Tipi",
                filter: 'agTextColumnFilter'
            },
            { 
                field: "Silinme Tarihi",
                filter: 'agDateColumnFilter'
            },
            { 
                field: "Güncelleme Tarihi",
                filter: 'agDateColumnFilter'
            },
            {
                field: "Düzenle",
                cellRenderer: function (params) {
                    return `<button class = "btn btn-link edit-button" data-id=${params.data['Id']} data-target="#edit_modal">Düzenle</button>`
                },
                flex: 1
            },
        ],
        defaultColDef: {
            flex: 1,
            sortable: true,
            filter: true,
            resizable: true,
            floatingFilter: true,
            minWidth: 100,
        },
        rowSelection: "multiple",
        suppressRowClickSelection: true,
        pagination: true,
        paginationPageSize: 10,
        paginationPageSizeSelector: [10, 20, 30],
    };
    const style = document.createElement('style');

    const gridDiv = document.querySelector("#myGrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);

    document.addEventListener('DOMContentLoaded', function () {
        const gridContainer = document.querySelector('#myGrid');

        gridContainer.addEventListener('click', function (event) {
            if (event.target.classList.contains('edit-button')) {
                const salonId = event.target.getAttribute('data-id');
                if (salonId) {
                    fetch(`/GetSinemaInfo/${salonId}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(sinema => {
                            document.getElementById('SalonId').value = sinema.salons[0].id;
                            document.getElementById('DeleteSalonId').value = sinema.salons[0].id;
                            document.getElementById('SinemaAdi').placeholder = sinema.isim;
                            document.getElementById('SinemaAdres').placeholder = sinema.adres;
                            document.getElementById('SalonNumarasi').placeholder = sinema.salons[0].salonNumarasi;
                            document.getElementById('Satir').placeholder = sinema.salons[0].satir;
                            document.getElementById('Sutun').placeholder = sinema.salons[0].sutun;
                            $('#edit_modal').modal('show');
                        })
                        .catch(error => {
                            console.error('Error:', error.message);
                        });
                } else {
                    console.error('Salon ID not found');
                }
            }
        });
    });
</script>


