@{
    var user = Context.Items["CurrentUser"] as Kullanici;
}
@model Kullanici
@{
    ViewData["Title"] = "Ayarlar";
    Layout = "_LayoutAdmin";
    var users = ViewBag.Users as IEnumerable<SinemaSite.Models.Kullanici>;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profil</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#show_users" data-toggle="tab">Kullanıcılar</a></li>
                                <li class="nav-item"><a class="nav-link" href="#other" data-toggle="tab">Diğer</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="show_users">
                                    <div class="col-md-15">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Kullanıcılar</h3>
                                            </div>
                                            <div id="myGrid" style="height: 600px" class="ag-theme-quartz"></div>
                                            <div class="modal fade" data-backdrop="false" id="edit_modal">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Kullanıcıyı Düzenle</h4>
                                                            <button type="button" data-backdrop="false" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="post" asp-action="Settings">
                                                                    <div class="modal-body">
                                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                        <input hidden asp-for="Id" type="text" id="UserId" class="form-control" placeholder="">
                                                                        <div class="col-lg-auto">
                                                                            <div class="form-group row">
                                                                                <label class="col-sm-2 col-form-label">Kullanıcı Adı:</label>
                                                                                <div class="col-sm-10">
                                                                                    <input asp-for="KullaniciAdi" type="text" id="kullaniciAdi" class="form-control" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-auto">
                                                                            <div class="form-group row">
                                                                                <label class="col-sm-2 col-form-label">İsim:</label>
                                                                                <div class="col-sm-10">
                                                                                    <input asp-for="Isim" type="text" id="isim" class="form-control" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-auto">
                                                                            <div class="form-group row">
                                                                                <label class="col-sm-2 col-form-label">Soyisim:</label>
                                                                                <div class="col-sm-10">
                                                                                    <input asp-for="Soyisim" type="text" id="soyisim" class="form-control" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-auto">
                                                                            <div class="form-group row">
                                                                                <label class="col-sm-2 col-form-label">Email:</label>
                                                                                <div class="col-sm-10">
                                                                                    <input asp-for="Email" type="email" id="email" class="form-control" placeholder="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-auto">
                                                                            <div class="form-group row">
                                                                                <label class="col-sm-2 col-form-label">Kullanıcı Türü:</label>
                                                                                <div class="col-sm-10">
                                                                                <select asp-for="KullaniciTipi" id="userTypeSelect" class="form-select" style="  margin: auto; width: 100%; padding: 10px;" aria-label="Default select example">
                                                                                        <option value=0>Müşteri</option>
                                                                                        <option value=1>Personel</option>
                                                                                        <option value=2>Admin</option>
                                                                                    </select>
                                                                                </div>
                                                                                <br />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer justify-content-between">
                                                                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-light">Kapat</button>
                                                                        <button type="submit" class="btn btn-primary">Düzenlemeyi Kaydet</button>
                                                                </form>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <!-- /.modal -->
                                        <div class="modal fade" data-backdrop="false" id="delete_modal">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Kullanıcıyı Düzenle</h4>
                                                        <button type="button" data-backdrop="false" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                            <div class="modal-body">
                                                                <p>Bu hesabı silmek istediğinize emin misiniz?</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-light">Kapat</button>
                                                        <form method="post" asp-action="DeleteUser">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input hidden asp-for="Id" type="text" id="DeleteUserId" class="form-control" placeholder="">
                                                            <button type="submit" class="btn btn-danger">
                                                                Hesabı Sil
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                                                </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>

                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="other">
                                </div>
                                <!-- /.tab-pane -->


                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<script>
    let gridApi;
    var users = @Html.Raw(ViewBag.Users);
    var rowData = [];
    const UserTypeNames = {
        0: 'Müşteri',
        1: 'Personel',
        2: 'Admin'
    };
    const ragCellClassRules = {
        // apply green to electric cars
        "rag-green": (params) => params.value === true,
        "rag-red": (params) => params.value === false,
    };


    users.forEach(function (user) {
        const userType = UserTypeNames[user.KullaniciTipi];
        rowData.push({
            "Id": user.Id,
            "İsim": user.Isim,
            "Soyisim": user.Soyisim,
            "Kullanıcı Adı": user.KullaniciAdi,
            "Email": user.Email,
            "Kullanıcı Tipi": userType,
            "Bakiye": user.Bakiye,
            "Aktif Mi?": user.AktifMi,
            "Silinme Tarihi": user.SilinmeTarihi,
            "Güncelleme Tarihi": user.GuncellemeTarihi,
            "Son Aktif Tarihi": user.SonAktifTarih,
            "Düzenle": `<button class = "btn btn-link edit-button" data-id=${user.Id} data-target="#edit_modal">Düzenle</button>
                <button class = "btn btn-danger delete-button" data-id=${user.Id} data-target="#delete_modal">Sil</button>`,
        });
    });

    const gridOptions = {
        rowData: rowData,
        columnDefs: [
            { field: "Id", hide:true },
            { field: "İsim", },
            { field: "Soyisim" },
            { field: "Kullanıcı Adı" },
            { field: "Email",
                minWidth: 200
            },
            { 
                field: "Kullanıcı Tipi",
                cellEditor: "agSelectCellEditor",
                cellEditorParams: {
                    values: [
                        "Müşteri",
                        "Personel",
                        "Admin",
                    ],
                }
            },
            { 
                field: "Bakiye", 
                filter: "agNumberColumnFilter",
                minWidth: 75
            },
            { field: "Aktif Mi?", minWidth: 75 },
            { field: "Silinme Tarihi" },
            { field: "Güncelleme Tarihi" },
            { field: "Son Aktif Tarihi" },
            {
                field: "Düzenle",
                cellRenderer: function (params) {
                    return `<button class = "btn btn-link edit-button" data-id=${params.data['Id']} data-target="#edit_modal">Düzenle</button>
                        <button class = "btn btn-danger delete-button" data-id=${params.data['Id']} data-target="#delete_modal">Sil</button>`
                },
                flex: 1,
                minWidth: 200
            },
        ],
            rowClassRules: {
                // Öncelik 1: Kullanıcı aktif değilse, türden bağımsız olarak gri yap
                'rag-gray': params => params.data['Aktif Mi?'] === false,

                // Öncelik 2: Kullanıcı tipi 'Admin' ise ve aktifse yeşil yap
                'rag-green': params => params.data['Kullanıcı Tipi'] === 'Admin' && params.data['Aktif Mi?'] === true,

                // Öncelik 3: Kullanıcı tipi 'Personel' ise ve aktifse mavi yap
                'rag-blue': params => params.data['Kullanıcı Tipi'] === 'Personel' && params.data['Aktif Mi?'] === true
            },
        defaultColDef: {
            filter: "agTextColumnFilter",
            floatingFilter: true,
            flex: 1,
            minWidth: 100,
            editable: false,
        },
        rowSelection: "multiple",
        suppressRowClickSelection: true,
        pagination: true,
        paginationPageSize: 5,
        paginationPageSizeSelector: [5, 10, 15],
    };
    const style = document.createElement('style');

    const gridDiv = document.querySelector("#myGrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);


    document.addEventListener('DOMContentLoaded', function () {
        const gridContainer = document.querySelector('#myGrid');

        gridContainer.addEventListener('click', function (event) {
            if (event.target.classList.contains('edit-button')) {
                const userId = event.target.getAttribute('data-id');
                if (userId) {
                    fetch(`/GetUserInfo/${userId}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(user => {
                            document.getElementById('UserId').value = user.id;
                            document.getElementById('DeleteUserId').value = user.id;
                            document.getElementById('kullaniciAdi').placeholder = user.kullaniciAdi;
                            document.getElementById('isim').placeholder = user.isim;
                            document.getElementById('soyisim').placeholder = user.soyisim;
                            document.getElementById('email').placeholder = user.email;
                            const selectElement = document.getElementById('userTypeSelect');
                            selectElement.value = user.kullaniciTipi;
                            $('#edit_modal').modal('show')
                        })
                        .catch(error => {
                            console.error('Error:', error.message);
                        });
                }
                else {
                    console.error('User ID not found');
                }
            }
            else if (event.target.classList.contains('delete-button')) {
                const userId = event.target.getAttribute('data-id');
                if (userId) {
                    fetch(`/GetUserInfo/${userId}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(user => {
                            document.getElementById('DeleteUserId').value = user.id;
                            $('#delete_modal').modal('show')
                        })
                        .catch(error => {
                            console.error('Error:', error.message);
                        });
                }
            }
        });
    });

</script>
<style>
    .rag-blue {
        background-color: #79E0FF
    }

    .rag-red {
        background-color: #cc222244;
    }

    .rag-gray {
        background-color: #ABABAB;
    }

    .rag-green {
        background-color: #33cc3344;
    }
</style>