@{
    var user = Context.Items["CurrentUser"] as Kullanici;
}
@model Kullanici
@{
    ViewData["Title"] = "Ayarlar";
    Layout = "_LayoutAdmin";
    var users = ViewBag.Users as IEnumerable<SinemaSite.Models.Kullanici>;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profil</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#show_users" data-toggle="tab">Kullanıcılar</a></li>
                                <li class="nav-item"><a class="nav-link" href="#other" data-toggle="tab">Diğer</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="show_users">
                                    <div class="col-md-15">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Kullanıcılar</h3>
                                            </div>
                                            <div id="myGrid" style="height: 600px" class="ag-theme-quartz"></div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>

                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="other">
                                </div>
                                <!-- /.tab-pane -->


                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<script>
    let gridApi;
    var users = @Html.Raw(ViewBag.Users);
    var rowData = [];
    const UserTypeNames = {
        0: 'Müşteri',
        1: 'Personel',
        2: 'Admin'
    };

    users.forEach(function (user) {
        const userType = UserTypeNames[user.KullaniciTipi];
        rowData.push({
            "İsim": user.Isim,
            "Soyisim": user.Soyisim,
            "Kullanıcı Adı": user.KullaniciAdi,
            "Email": user.Email,
            "Kullanıcı Tipi": userType,
            "Bakiye": user.Bakiye + " TL",
            "Aktif Mi?": user.AktifMi,
            "Silinme Tarihi": user.SilinmeTarihi,
            "Güncelleme Tarihi": user.GuncellemeTarihi,
            "Son Aktif Tarihi": user.SonAktifTarih,
        });
    });

    const gridOptions = {
        rowData: rowData,
        columnDefs: [
            { field: "İsim", },
            { field: "Soyisim" },
            { field: "Kullanıcı Adı" },
            { field: "Email" },
            { 
                field: "Kullanıcı Tipi",
                cellEditor: "agSelectCellEditor",
                cellEditorParams: {
                    values: [
                        "Müşteri",
                        "Personel",
                        "Admin",
                    ],
                }
            },
            { field: "Bakiye", filter: "agNumberColumnFilter" },
            { field: "Aktif Mi?" },
            { field: "Silinme Tarihi" },
            { field: "Güncelleme Tarihi" },
            { field: "Son Aktif Tarihi" },
        ],
        defaultColDef: {
            filter: "agTextColumnFilter",
            floatingFilter: true,
            flex: 1,
            minWidth: 100,
            editable: false,
        },
        rowSelection: "multiple",
        suppressRowClickSelection: true,
        pagination: true,
        paginationPageSize: 5,
        paginationPageSizeSelector: [5, 10, 15],
    };
    const style = document.createElement('style');

    const gridDiv = document.querySelector("#myGrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);
</script>


