@{
    var user = Context.Items["CurrentUser"] as Kullanici;
}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        @if(user is not null)
        {
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link"
                   id="bakiyeLink"
                   href="#"
                   data-bakiye="@user.Bakiye"
                   onmouseover="changeText()"
                   onmouseout="resetText()">
                    Bakiye: @user.Bakiye TL
                </a>
            </li>
        }
    </ul>
</nav>
<!-- /.navbar -->
<script>
    function changeText() {
        const bakiyeLink = document.getElementById('bakiyeLink');
        bakiyeLink.textContent = 'Bakiye Yükle';
        bakiyeLink.href = '/Account/BakiyeYukle';
    }

    function resetText() {
        const bakiyeLink = document.getElementById('bakiyeLink');
        const userBakiye = bakiyeLink.getAttribute('data-bakiye');
        bakiyeLink.textContent = `Bakiye: ${userBakiye} TL`;
        bakiyeLink.href = '#';
    }
</script>

<style>
    .nav-link {
        transition: color 0.3s ease; /* Renk değişimini yumuşatır */
    }

        .nav-link:hover {
            color: #007bff; /* Link üzerine gelindiğinde renk değiştirir */
            text-decoration: underline; /* Altı çizili hale getirir */
        }
</style>
