@{
    var user = Context.Items["CurrentUser"] as Kullanici;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Admin" asp-action="Index" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Sayfası</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        @if(user is not null){
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="">
                </div>
                <div class="info">
                    <a asp-controller="Account" asp-action="Profile" class="d-block">@user.Isim @user.Soyisim</a>
                    <a class="d-block" asp-controller="Account" asp-action="Logout" >Çıkış Yap</a>
                </div>

            </div>  
        }
        else{
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a asp-controller="Account" asp-action="Login" class="d-block">Giriş Yap</a>
                </div>
            </div>
        }


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                @if(user is not null)
                {
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddGosterim" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Gösterim Ekle
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddFilm" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Film Ekle
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddSalon" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Salon Ekle
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddSinema" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Sinema Ekle
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Films" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Filmler
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Salons" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Salonlar
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Sinemas" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Sinemalar
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Settings" class="nav-link">
                            <i class="fas fa-user nav-icon"></i>
                            <p>
                                Kullanıcılar
                            </p>
                        </a>
                    </li>                   
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Kullanıcı Sayfası
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>